<button><a style="text-decoration:none" href="#!Home">Home</a></button>
<button><a style="text-decoration:none" href="#!OpenProject">Open Projects</a></button>
<button><a style="text-decoration:none" href="#!ComProjects">Complete Projects</a></button>
<button><a style="text-decoration:none" href="#!InProjects">In Process Projects</a></button>
<button><a style="text-decoration:none" href="#!CreateProject">Create Projects</a></button>
<button><a style="text-decoration:none" href="#!Supervisor">Supervisors</a></button>
<button><a style="text-decoration:none" href="#!Member">Members</a></button>